{{> head }}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Jose de San Martin</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia ducimus consequatur pariatur similique aspernatur dolorem architecto suscipit voluptatum quod facilis libero perferendis possimus debitis, vel nisi ipsa? Enim, ratione mollitia.</p>
    </div>

    <div>
        <img src="assets/img/san-martin.jpg" class"img-thumbnail">
    </div>


</div>

{{> footer}}